<div class="input-group">
      <input style="width: 80%" type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchString" (keyup)=search($event)>
      <input style="width: 20%" type="text" class="form-control" placeholder="Add tag..." [(ngModel)]="tag2add">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="addTag()">Tag</button>
      </span>

</div>
<table class="table">
  <tr>
      <th *ngFor="let rij of totalen">{{rij.datum.monthValue}}-{{rij.datum.year}}</th>
  </tr>
  <tr>
    <td *ngFor="let rij of totalen">{{rij.totaal | currency: 'EUR':true}}</td>
  </tr>
</table>
<table class="table">
  <thead>
  <tr>
      <th style="width: 100px;">Datum</th>
      <th style="width: 200px;">rekening</th>
      <th style="width: 200px;">tegenrekening</th>
      <th style="width: 400px;">omschrijving</th>
      <th style="width: 100px;">bedrag</th>
      <th>tags</th>
  </tr>
</thead>
  <tr *ngFor="let tr of transakties">
    <td>{{tr.transaktiedatum.dayOfMonth}}-{{tr.transaktiedatum.monthValue}}-{{tr.transaktiedatum.year}}</td>
    <td>{{tr.rekening}}</td>
    <td>{{tr.tegenrekening}}</td>
    <td>{{tr.omschrijving}}</td>
    <td>
      <span>{{tr.bedrag | currency: 'EUR':true}}</span>
    </td>
    <td *ngFor="let tag of tr.tags">
      <span class="badge">{{tag}}</span>
    </td>
  </tr>
</table>
