<table class="table">
  <p class="badge">{{aantalTransakties()}} transakties gevonden</p>
  <tr *ngFor="let tr of transakties">
    <td>{{tr.datum}}</td>
    <td>{{tr.bedrag | currency: 'EUR':true}}</td>
    <td>{{tr.omschrijving}}</td>
    <td>
      <span *ngIf="tr.bedrag > 0">af</span>
      <span *ngIf="tr.bedrag < 0">bij</span>
    </td>
    <td>
        <span *ngIf="tr.watch"><button (click)="unwatch(tr)">unwatch</button></span>
        <span *ngIf="!tr.watch"><button (click)="watch(tr)">watch</button></span>
    </td>
  </tr>
</table>
