<table class="table">
  <thead>
  <tr>
      <th style="width: 100px;">Datum</th>
      <th style="width: 200px;">rekening</th>
      <th style="width: 200px;">tegenrekening</th>
      <th style="width: 400px;">omschrijving</th>
      <th style="width: 100px;">bedrag</th>
      <th>tags</th>
  </tr>
</thead>
  <tr *ngFor="let tr of transakties">
    <td>{{tr.transaktiedatum.dayOfMonth}}-{{tr.transaktiedatum.monthValue}}-{{tr.transaktiedatum.year}}</td>
    <td>{{tr.rekening}}</td>
    <td>{{tr.tegenrekening}}</td>
    <td>{{tr.omschrijving}}</td>
    <td>
      <span>{{tr.bedrag | currency: 'EUR':true}}</span>
    </td>
    <td *ngFor="let tag of tr.tags">
      <span class="badge">{{tag}}</span>
    </td>
  </tr>
</table>
